*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    src: url(fonts/Poppins-Regular.ttf);
    font-family: poppins-r;    
}
@font-face {
    src: url(fonts/Poppins-Medium.ttf);
    font-family: poppins-m;    
}
@font-face {
    src: url(fonts/Poppins-Bold.ttf);
    font-family: poppins-b;    
}
@font-face {
    src: url(fonts/Poppins-Thin.ttf);
    font-family: poppins-t; 
   
}

.main{
    background-color: rgb(255, 255, 255);
    width: 70vw;
    height: 85vh;
    box-shadow: 0px 0px 50px -1px rgb(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top_part{
    width: 100%;
    height: 12%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.top_part h1{
    font-family: poppins-r;
    color: #ff9516;
    
}
.mid_part{
    width: 85%;
    height: 73%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.last_part{
    width: 100%;
    height: 12%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.last_part h2{
    font-family: poppins-r;
}
.last_part a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 150px;
    height: 50px;
    background-color: #ff9516;
    display: flex;
    font-family: poppins-r;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
}
.mid1{
    width: 100%;
    height: 30%;
    background-color: antiquewhite;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}
.mid1 h3{
    font-family: poppins-r;
}